supporting
secrets.yml
*.pq
*.nc
output/forcing/4_global_warming_map.csv
output/forcing/4_global_forcing_per_distance_map.csv
output/forcing/4_global_flight_distance_map.csv
data/airspace_capacity/airspace_capacity_2024_partial.csv
data/issr/contrail_region_details_2024.csv
data/airspace_capacity/airspace_capacity.parquet
data/airspace_capacity/airspace_capacity_merged.parquet
