supporting
secrets.yml
*.pq
*.nc
output/forcing/4_global_warming_map.csv
output/forcing/4_global_forcing_per_distance_map.csv
output/forcing/4_global_flight_distance_map.csv
data/airspace_capacity/airspace_capacity_2024_partial.csv
data/issr/contrail_region_details_2024.csv
data/airspace_capacity/airspace_capacity.parquet
data/airspace_capacity/airspace_capacity_merged.parquet
data/airspace_capacity/airspace_capacity_euro.parquet
data/airspace_capacity/airspace_capacity_merged_old.parquet
data/airspace_capacity/airspace_capacity_mini.parquet
data/issr/contrail_region_details_2024_partial.csv
data/issr/contrail_region_details_2024_old.csv
python/1.py
python/2.py
python/3.py
python/4.py
python/5_3D_visualisation.py
python/requirements.txt
data/airspace_capacity/airspace_capacity_rectangular_european_airspace_boundary.parquet
data/issr/extremely_warming.parquet
data/issr/ISSR and PCR depth distribution.csv
data/issr/pcr.parquet
data/issr/pcrs.parquet
data/issr/very_warming.parquet
data/issr/warming.parquet
